<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QuanLyCyberGameEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCyberGameEntitiesMain" connectionString="metadata=res://*/Model.MainModel.csdl|res://*/Model.MainModel.ssdl|res://*/Model.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCyberGameEntitiesFilnal" connectionString="metadata=&quot;res://*/Model.Main Model Final.csdl|res://*/Model.Main Model Final.ssdl|res://*/Model.Main Model Final.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCyberGameEntities1" connectionString="metadata=res://*/Model.Model2.csdl|res://*/Model.Model2.ssdl|res://*/Model.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCyberGameEntities2" connectionString="metadata=res://*/Model.Model3.csdl|res://*/Model.Model3.ssdl|res://*/Model.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCyberGameEntities4" connectionString="metadata=res://*/Model.Model4.csdl|res://*/Model.Model4.ssdl|res://*/Model.Model4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyCyberGameEntities5" connectionString="metadata=res://*/Model.Model5.csdl|res://*/Model.Model5.ssdl|res://*/Model.Model5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CRGLG1U;initial catalog=QuanLyCyberGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>